header{
    text-align: center;
    background: url(images/background.png);
    background-size: cover;
    padding: 20px 0px 0px 0px;
}
article{
    margin: 0 auto;
    max-width: 800px;
}
.first{
    font-size: 35px;
}
img{
    margin: auto;
    border: solid white;
    border-radius: 10%;
}
table{
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
a{
    padding: 50px 0px 50px 0px;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    color: white;
}
.atm{
    border: solid white;
    border-radius: 10%;
    display: block;
    margin-left: 20px;
}
.bar{
  display: inline;
  padding: 0px 25px 0px 25px;  
}
ul{
    background: rgba(0,0,0,.5)
}
ol{
    color: white;
}
p{
    font-family: 'Alegreya', serif;
    color: white;
    max-width: 850px;
    padding: 0px 50px 0px 50px;
}
h2{
    font-family: 'Alegreya', serif;
    color: white;
}
h1{
    font-family: 'Alegreya', serif;
    font-size: 50px;
    color: white;
}
body{
    background: rgb(36, 106, 115);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}    
